*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

#menu-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-rows: repeat(3, 4rem);
    grid-template-columns: repeat(1, 6rem);
    background-color: rgba(0, 0, 0, 20%);
}

#menu-grid > h1 {
    font-size: 2rem;
}

.btn {
    background-color: rgba(255, 255, 255, 70%);
    margin: .5rem;
}