*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.pictures {
    width: 9.5rem;
    height: auto;
}

#tictactoe-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    background-color: rgba(0, 0, 0, 20%);
}

#tictactoe-grid > div {
    background-color: rgba(255, 255, 255, 70%);
    background-color: rgba(0, 0, 0, 20%);
    border: .2rem solid rgba(255, 255, 255, 70%);
}
